/* :root {
  --bs-primary: #4394c6 !important;
} */

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
  /* background-color: #01456c; */
}

.navy {
  color: #00283f !important;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('/clouds6.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 1em;
  padding-right: 1em;

}

footer {
  flex: 0 30px;
  border-top: solid rgb(182, 182, 182) thin;
}

menu {
  flex: 1;
  display: flex;
  padding-right: 0.3em;
  padding-top: 0;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar {
  padding: 1em;;
}

.navbar-nav{
  padding: 0 ;
  margin: 0;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
  .navbar-nav{
    padding: 3em;
    padding-right: 0.5em;
  }
}
